.single-chat {
  padding: 2rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  .friend-info {
    display: flex;
    gap: 1rem;
    .friend-data {
      p {
        font-size: 1.4rem;
      }
    }
  }
  .time {
    font-size: 1.2rem;
  }
  &:hover {
    background: var(--bg-hover);
  }
}
