@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-primary: #1db100;
  --color-primary-alt: rgba(29, 177, 0, 0.1);
  --border-color: #b9c7ca;
  --bg-primary: #fff;
  --bg-secondary: #f2f2f2;
  --color-text: #4f5e72;
  --color-heading: #303a47;
  --bg-hover: #e4e4e4;
}

[data-theme="dark"] {
  --color-primary: #199400;
  --color-primary-alt: rgba(86, 109, 84, 0.3);
  --border-color: #4f5a5c;
  --bg-primary: #252b33;
  --bg-secondary: #20262e;
  --color-text: #848e9b;
  --color-heading: #a9b1bd;
  --bg-hover: #292f3d;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  background: var(--bg-primary);
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  color: var(--color-heading);
}

a {
  color: inherit;
  text-decoration: none;
}
