.layout {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 7rem 40rem 1fr;
  .outlet-layout {
    background: var(--bg-secondary);
  }
  @media screen and (max-width: 990px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 70px;
    .outlet-layout {
      grid-area: 1;
    }
    .sidebar-layout {
      grid-area: 2;
    }
    .messages-layout {
      width: 100%;
      position: fixed;
      top: 0;
      background: var(--bg-primary);
      transform: translateX(100%);
      transition: 0.3s ease;
      &.active {
        transform: translateX(0%);
      }
    }
  }
}
